<!doctype html>
            <html lang="en">
                  <head>
                    <meta charset="utf-8">
                    <title>Найти место</title>
                  </head>
                  <body>
                    <h1>Сервис "Найти место"</h1>
                    <p style='font-size:20px;'>Здесь Вы можете найти нужное место, введя координаты</p>
                    <form class="login_form" method="post">
                  <input type="text" class="form-control" placeholder="Введите координаты" name="koordinates">
                  <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                  </body>
            </html>

